.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.70);
    display: flex;
    justify-content: center;
    align-items: center;
  };

.modal-window {
    background-color: lime;
    padding: 1em;
};